<app-header>
</app-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<app-bikes>
			</app-bikes>
		</div>
		<div class="col-12">
			<app-wish-list>
			</app-wish-list>
		</div>
	</div>
</div>